body
{
  background-image: url("../../images/abstract-white-transparent-waves-in-motion-at-the-top-and-bottom-on-gradient-blue-background-loop-animation_4vowt3ocg__F0000.png");
  background-repeat: no-repeat;
  background-color: darkgrey;
  h2
  {
    text-align: center;
    text-decoration: underline;
  }
  table, tr, td, th
  {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 1%;
  }
}