body
{
  background-image: url("../../images/abstract-white-transparent-waves-in-motion-at-the-top-and-bottom-on-gradient-blue-background-loop-animation_4vowt3ocg__F0000.png");
  background-color: darkgrey;

  table
  {
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
  th
  {
    width: 25%;
    text-align: center;
  }
  tr
  {
    width: 25%;
  }
  td
  {
    padding: 2%;
  }
}