body
{
  background-image: url("../../images/abstract-white-transparent-waves-in-motion-at-the-top-and-bottom-on-gradient-blue-background-loop-animation_4vowt3ocg__F0000.png");
  background-repeat: no-repeat;
  background-color: darkgrey;

  table
  {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  th
  {
    width: 20%;
    text-align: center;
  }
  tr
  {
    width: 20%;
  }
  td
  {
    padding: 2%;
  }
}